<% email = User.find(note.author_id).email %>

<li><%= note.body %> (<%= email %>)

<% if current_user.id == note.author_id || current_user_is_admin? %>
<%= button_to 'DELETE', note_url(note), method: :delete, data: {confirm: "Are you sure you want to delete this note?" } %>
<% end %>
</li>
