<h2>All about <%= @band.name %>! </h2>

<br><br>
<%= button_to 'DELETE button', band_url(@band), method: :delete, data: {confirm: "Are you sure you want to delete this band?" } %>

<br><br>
<%= link_to 'DELETE link', band_url(@band), method: :delete %>
<br><br>
<form action="<%= band_url(@band) %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="" value="DELETE form">
</form>
